.Boxa0{
    
  
    margin-top: 3% ;
    margin-right: auto;
    margin-left: auto; 
    width: 90%; 
    max-width: 1300px; 
    padding: 20px; 
    height: 100px;
    box-sizing: border-box;
    color: aliceblue;
    background-size: cover;   
}

.Boxa10{
    
    
    margin-right: auto;
    margin-left: auto; 
    width: 90%; 
    max-width: 1300px; 
    padding: 20px; 
    height: 100px;
    box-sizing: border-box;
    color: aliceblue;
    background-size: cover;   
    margin-bottom: 3% ;
}

.Boxa1{
        background:url('../Components/Pictures/or1.png');
        margin-right: auto;
        margin-left: auto; 
        width: 90%; 
        max-width: 1300px; 
        padding: 20px; 
        height: auto;
        box-sizing: border-box;
        color: rgb(165, 95, 20);
        background-size: cover;   
}

.ha1{
   text-align: center;
    font-size: 50px;
    font-weight: bold;
}


.para1{
    margin-left: 50%;
    font-size: 22px;
}

.im1{
    width:500px;
    height:300px;
}
.Boxa2{
    background:url('../Components/Pictures/images.jpeg');
    margin-right: auto;
    margin-left: auto;
    width: 90%; 
    max-width: 1300px; 
    box-sizing: border-box;

    

}
.Boxa3{
    
    background:url('../Components/Pictures/or2.png');
    margin-right: auto;
    margin-left: auto; 
    width: 90%; 
    max-width: 1300px; 
    padding: 20px; 
    background-repeat: no-repeat;
	background-size: cover;
    box-sizing: border-box;
    height: 400px;

}

.ha3{
    
    font-size: 50px;
    font-weight: bold;
    color: rgb(165, 95, 20);
}
.ta1{
     width:25%;

}
.ta2{
width:50%;
background-color: rgb(251, 251, 251);
height: 200px;
padding-left:45px ;
padding-right:51px ;
padding-top: 11px;
color: rgb(165, 95, 20);
font-size: 20px;
}
.ta3{
    margin-left: 109px;
    margin-right: 89px;
    font-size: 18px;
   
    }
.ha3{
    font-weight:600;
    margin-top: 33%;
    
}


.ta5{
            margin-left: 13%;
            margin-top: 15%;
            color: rgb(165, 95, 20);
            font-size: 22px;
}
.tba1{
    margin-left: 5%;
}